<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Food Stud.io</title>

    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="css/screen.css" media="screen">
    <link type="text/css" rel="stylesheet" href="css/jquery-ui-1.10.3.custom.min.css">

    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/jquery-ui-1.10.3.custom.min.js"></script>
    <script>
        $(function() {
            $( "#inputArea" ).accordion({
                //collapsible: true,
                collapsible: false, // keep false for testing purposes
                active: false,
                heightStyle: "content"
            });
        });
    </script>
</head>

<body>
<div id="container">
    <div id="header">
        <h1>Food Stud.io</h1>
    </div><!-- /header -->

    <div id="inputArea">
        <h3>+ Add Recipe</h3>
        <div id="recipies" class="clearfix">
            <form id="addRecipe" action="#">
                <div>
                    <div id="inputItemsLeft" class="clearfix">
                        <!--<label for="coverImage">Cover Image: </label><input id="coverImage" type="file">-->
                        <label for="title">Title: </label> <input id="title" type="text"><br>

                        <label for="keywords">Ingredients: </label> <input id="keywords" type="text"><br>

                        <label for="cookingTime">Cooking Time: </label> <input id="cookingTime" type="text"><br>

                        <label for="author">Posted By: </label>  <input id="author" type="text"><br>

                        <label for="submittedOn">Submitted On: </label> <input id="submittedOn" type="text"><br>                        
                    </div>

                    <div id="inputItemsRight" class="clearfix">

                        <button id="add">Add</button>
                    </div>
                </div>
            </form>
        </div><!-- /recipies -->
    </div><!-- /inputArea -->

    <div id="content" class="clearfix">
        <script id="recipeTemplate" type="text/template">
            <ul>
                <li><strong><%= title %></strong></li>
                <li>Ingredients: <% _.each(keywords, function(keyobj) {%> <%= keyobj.keyword %><% }); %></li>
                <li>Cooking Time: <%= cookingTime %></li>
                <li>Posted by: <%= author %></li>
                <li>Submitted on: <em><%= $.format.date( new Date( submittedOn ), 'MMM dd, yyyy' ) %></em></li>
            </ul>

            <button class="delete">X</button>
        </script>
    </div><!-- /content -->
</div><!-- /container -->

<script src="js/lib/underscore-min.js"></script>
<script src="js/lib/backbone-min.js"></script>
<script src="js/lib/jquery-dateFormat.min.js"></script>
<script src="js/models/recipe.js"></script>
<script src="js/collections/cookbook.js"></script>
<script src="js/views/recipe.js"></script>
<script src="js/views/cookbook.js"></script>
<script src="js/app.js"></script>
</body>
</html>